<!-- =========================
     PRE LOADER       
============================== -->
<div class="preloader">
    <div class="sk-rotating-plane"></div>

</div>


<!-- =========================
     NAVIGATION LINKS     
============================== -->
<div class="navbar navbar-fixed-top custom-navbar" role="navigation">
    <div class="container">

        <!-- navbar header -->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
            <a href="#" class="navbar-brand">
                <img style="height: 50px; width: 50px;" src="assets/logo.png">
            </a>
        </div>

        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#intro" class="smoothScroll">Intro</a></li>
                <li><a href="#overview" class="smoothScroll">Overview</a></li>
                <li><a href="#speakers" class="smoothScroll">Requirements</a></li>
                <li><a href="#program" class="smoothScroll">Objectives</a></li>
                <li><a href="#register" class="smoothScroll">Register</a></li>
                <!-- <li><a href="#venue" class="smoothScroll">Venue</a></li> -->
                <li><a href="#faq" class="smoothScroll">FAQ</a></li>
                <li><a href="#contact" class="smoothScroll">Contact</a></li>
            </ul>

        </div>

    </div>
</div>


<!-- =========================
    INTRO SECTION   
============================== -->
<section id="intro" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <!-- <h3 class="wow bounceIn" data-wow-delay="0.9s">Welcome to </h3>
                <h1 class="wow fadeInUp" data-wow-delay="1.6s">IBA International Educational Consultancy</h1> -->
                <a href="#overview" style="margin-top:515px;" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="2.3s">Explore</a>
                <!-- <a href="#register" class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="2.3s">REGISTER NOW</a> -->
            </div>


        </div>
    </div>
</section>


<!-- =========================
    OVERVIEW SECTION   
============================== -->
<section id="overview" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="wow fadeInUp col-md-12" data-wow-delay="0.6s">
                <h3>Good Vibes Education Consultancy</h3>
                <p>Good Vibes Education Consultancy Pvt. Ltd. is the genuine educational Consultancy that has been guiding students to study in different corners of the world. Good Vibes Education Consultancy has a long history of providing the best career guidance and visa success stories of their clients. Along with a team of highly trained counselor and foreign university graduates who are focused more on career counselling where finding the right course along with the right university is just the start.</p>
                <p>We also provide the best JLPT, NAT, IELTS, TOFEL and PTE   preparation classes and help the students with the application procedure which also includes university communication, financial documentation planning and visa procession. Good Vibes Education Consultancy can be your reliable team to identify easy solution for all of your study abroad application confusions.</p>
                <p>Good Vibes Education Consultancy is a well-recognized educational consultancy which is established to encourage ambitious students to fulfill their educational and career objectives. The facts that set us apart from the rest are:</p>
                <p>More than 10 years of experience of working as a school representative at Joto Japanese Language School and Toshin Japanese Language School in Japan.</p>
                <p>Professional and well educated language teacher for Japanese language classes.</p>
                <p>Teaching method, office environment and administration is entirely in Japanese system.</p>
                <p>Universities and School are chosen by directly visiting and observing in Japan.</p>
                <p>Guidance and support for you also in Japan until you become successful.</p>
                <p>We are committed to providing honest and accurate information.</p>
                <p>We will be pleased to share our experience with you.</p>
            </div>

            <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.6s">
                <!-- <h3>Good Vibes Education Consultancy</h3> -->
                <h4>Why Study in JAPAN ?</h4>
                <p>There are many good reasons to study in Japan. Some students are attracted by Japan’s high educational standards, while for others the attraction is Japan’s rich cultural heritage. Nearly 5 million students study abroad annually, with that number projected to continue increasing. With over 150,000 international students, Japan is one of the most popular destinations for international students. </p>
                <h5>High educational standards</h5>
                <p>The OECD ranks Japanese high school students number one in the world for maths, and number 2 for scientific literacy. Japan has the highest number of Nobel prize winners of any Asian country, and the second highest of any country since 2000.. 49% of Japanese High School graduates enter university. Japan has over 700 universities, with 10 ranked in the top 200 worldwide..</p>
                <h5>Learn Japanese while earning a degree</h5>
                <p>Studying on one of our international program allows you to learn Japanese all the way throughout your degree program, while also earning a degree in another subject. Many students with an interest in Japan feel they have to choose between a degree in Japanese and another subject. With Tsukuba’s English programs, you can have the best of both worlds; learning Japanese while also gaining a degree in another subject. Student who wish to remain in Japan and work after graduation may enjoy a significant advantage over language majors, who may have comparable Japanese levels, but who lack the degree specific skills.</p>
                <!-- <p>Quisque facilisis scelerisque venenatis. Nam vulputate ultricies luctus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p> -->
                <h5>Improving your employability</h5>
                <p>Study abroad is an impressive part of any resume. Employers value the skills you learn as an international student. As well as the personal growth you will undergo studying in Tsukuba, interacting with your professors, classmates, tutors and friends, will help improve your international awareness and employment opportunities. Internationally aware employees are in strong demand, and many companies actively recruit students with overseas learning experience – especially if they are able to speak a second language. If you choose to return home after graduation, you can be confident that your experience in Tsukuba will help you appeal to high-quality employers, particularly those involved in international business.</p>
                <p>For this wishing to remain in Japan, there is a strong job market for highly qualified graduates. In a recent survey, around half of the major Japanese companies surveyed expressed a desire to hire foreigners graduating from Japanese institutions.</p>

                <h5>See the world, develop as a person</h5>
                <p>Studying abroad gives you an unparalleled opportunity to live, work and explore a different culture. You will be able to learn about the people, the culture, the history and language of one of thew world’s most unique cultures. Living overseas will help you develop as a person, becoming independent and taking responsibility. It will help you to see things from new perspectives, and appreciate the differences between cultures, while also seeing the deep similarities between people. Learning doesn’t just happen in the classroom; meeting people from different cultures and making friends from all over the world are also important parts of growing up.</p>
                <h5>Martial arts and culture</h5>
                <p>For those wishing to learn Japanese, or take part in a Japanese martial art, the University offers obvious benefits. The University has sent over 60 athletes to the Olympic games, and we have numerous Olympic medalists and world champions on staff. Judo, kendo, kyudo, and karate players have the opportunity to train in one of the world’s foremost university clubs, while high level instruction is readily available. Students wishing to learn taiko drumming, shamisen, Japanese calligraphy or the tea ceremony are equally well catered for.</p>
            
            </div>

            <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.9s">
                <img src="assets/ho.jpg" class="img-responsive" alt="Overview">
                <h5>Japan is a safe, peaceful place to study</h5>
                <p>Japan is one of the safest countries in the world. Violent crime is rare, with Japan ranking last in the number of victims of crime per capita (nationmaster.com). Japan regularly turns up on lists of the safest places to visit in the world. Japan also has one of the world’s most advanced healthcare systems, reflected in this high life expectancy. Members of the National Health Insurance scheme pay only 30% of their healthcare costs, with a trip to the doctor or dentist often costing only a few hundred yen (few dollars).</p>                

                <h5>Low tuition fees and generous scholarships</h5>
                <p>Tuition fees are comparatively cheap in Japan. While an “in state” student in the US may spend $10,000 a year or more on tuition, with “out of state” and international fees being several times higher, tuition fees at Japanese public universities are a mere 535,800 yen (approx $5,500) a year. Furthermore, at Tsukuba the regular entrance fees and first semester tuition fees have been waived for undergraduate English program students. Partial and full tuition fees waivers are even possible for high achieving students from poorer backgrounds.</p>
                <p>Furthermore, a wide range of scholarships are available, both from the university, and from public and private organizations. A limited number of Tsukuba scholarships are available, paying a monthly living allowance, and a travel allowance (first year only). A wide range of other scholarships are available, with some directed towards specific nationalities, women, minorities, or those with high level Japanese proficiency.</p>

                

            </div>

        </div>
    </div>
</section>


<!-- =========================
    DETAIL SECTION   
============================== -->
<section id="detail" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInLeft col-md-4 col-sm-4" data-wow-delay="0.3s">
                <i class="fa fa-building"></i>
                <h3>100+ Cities</h3>
                <p>Many of you told us that, when deciding where to study abroad, you choose country first over a university or specific type of program. You also told us what your top reasons for studying abroad are. We used your feedback to create our
                    list ranking of the best places to study abroad in 2021!</p>
            </div>

            <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.6s">
                <i class="fa fa-university"></i>
                <h3>50+ University</h3>
                <p>Explore the most international universities in the world using data from the Times Higher Education World University Rankings</p>
            </div>

            <div class="wow fadeInRight col-md-4 col-sm-4" data-wow-delay="0.9s">
                <i class="fa fa-globe"></i>
                <h3>20+ Countries</h3>
                <p>If you are considering completing all or some of your university studies overseas, check out this summary of the best countries to study abroad. France. Romantic Paris consistently tops lists of the best cities for students. Japan. United
                    States. Germany. Canada. India. Australia. South Korea.</p>
            </div>

        </div>
    </div>
</section>


<!-- =========================
    VIDEO SECTION   
============================== -->
<section id="video" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInUp col-md-12 " data-wow-delay="1.3s">
                <!-- <h2>Watch Video</h2> -->
                <h3>Message from MD</h3>
                <!-- <p>
                    PUJAN RAI (CHAMLING)
                </p> -->
                <p>
                    Dear Students and Parents,
                </p>
                <p>
                    Studying abroad is a good opportunity, most students who travel to foreign countries get impacted in a good way, such as their Success, personality and the way they interact with others. Students who study abroad will benefit more than they suffer, even though leaving home could be hard, but it is the best challenge students face to encourage them get back with achievements, personal independence and open minded. Students who study abroad are more successful because they have enough experiences to face their life in the future and be able to control their actions, money, and time.
                </p>
                <p>
                    Most students who study abroad face difficulties at first, because they are living alone and away from their families and friends. Academic achievement is one of the biggest effects students gain from studying abroad. When students study abroad, they are facing a big shift in their lives. Living in a foreign country makes students
                    meet new friends that might be smarter, which encourage students to study harder and success. On the other hand, living far away from families makes a person spend most of his time studying because he has no one to spend most of his time with. living away from home can be challenging, but it is a good way that make a student study hard to get good achievements and make his/her family proud.

                </p>
                <p>
                    Good Vibes Education Consultancy is registered with office of the company registrar, Industry Ministry and Education Ministry, Government of Nepal and complaint with the standards for education consultancy association. These standards support our responsibility and commitment to quality service.

                </p>
                <p>Without the knowledge of Japanese language the life of Japan is almost impossible so that we don’t compromise in language. We give first priority to Japanese language also. Our strong point is 90% of our team members are Japan experience holder. So, we don’t only teach Japanese language, but also teach them about Japanese culture, rules and regulations etc. </p>
            </div>
            <!-- <div class="wow fadeInUp col-md-12" data-wow-delay="1.6s" style="padding-top: 180px;"> -->
                <!-- <div class="embed-responsive embed-responsive-16by9"> -->
                    <!-- <iframe class="embed-responsive-item" src="https://" allowfullscreen></iframe> -->
                    <!-- <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fibainternationaleducation%2Fvideos%2F444927100191168%2F&show_text=false&width=560" width="560" height="314" style="border:none;overflow:hidden" scrolling="no"
                        frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe> -->
                    <!-- <iframe width="956" height="538" src="https://www.youtube.com/embed/wQc7ccbN-6s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <!-- </div> -->
            <!-- </div> -->

        </div>
    </div>
</section>


<!-- =========================
    SPEAKERS SECTION   
============================== -->
<section id="speakers" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12 wow bounceIn">
                <div class="section-title">
                    <h2>Requirements</h2>
                    <h5>Eligibility for Japanese university</h5>
                    <p>Foreigners who want to study at a Japanese university must meet the following requirements:</p>
                    <!-- <ul style="text-align: left !important;">
                        <li>Have a valid passport</li>
                        <li>12 years of school in your home country or an International Baccalaureate diploma</li>
                        <li>Proof that you can pay all of your expenses while studying</li>
                        <li>Japanese language skills (not technically a requirement, but you will struggle in university courses without a working knowledge of the language)</li>


                    </ul> -->
                <p>1. Have a valid passport</p>
                <p>2. 12 years of school in your home country or an International Baccalaureate diploma</p>
                <p>3. Proof that you can pay all of your expenses while studying</p>
                <p>4. Japanese language skills (not technically a requirement, but you will struggle in university courses without a working knowledge of the language)</p>
                <h5></h5>
                <p>Foreigners have an easier time getting into Japanese universities than Japanese students, mainly because the Japanese government encourages a diverse university population (the non-Asian population at most universities is still extremely low, however). In addition, the decreasing numbers of young people in Japan are translating into more space at universities.</p>
                <h5>University application requirements</h5>
                <p>A typical Japanese university application requires the following items:</p>
                <p>•	References from professors/teachers</p>
                    <p>•	Proof that you can financially support yourself while studying</p>
                    <p>•	High school transcripts and/or diplomas</p>
                    <p>•	A valid passport</p>
                    <p>•	Passport-size photographs</p>

                    <h2></h2>
                    <p>Don´t think you will be able to apply without taking an entrance exam. While foreign students are not subjected to the sanity-bending rigours of the Japanese exams, they are required to take the Examination for Japanese University Admission for International Students. This includes academic and language testing, and is offered twice a year (in summer and fall, respectively). If you are applying to a university that requires English language skills and you are not a native English-speaker, you may be required to take the Test of English as a Foreign Language (TOEFL).</p>

                    <p>Once admitted, your university will help you obtain your student visa, mainly by providing you with a Certificate of Eligibility. See the Visa and Permits section for more information on applying for a student visa.</p>
                </div>
            </div>

            <!-- Testimonial Owl Carousel section
			================================================== -->
            <div id="owl-speakers" class="owl-carousel" style="padding-left:150px;">

                <!-- <div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.6s">
                    <div class="speakers-wrapper">
                        <img src="assets/chairman.jpg" class="img-responsive" alt="Resham Lama">
                        <div class="speakers-thumb">
                            <h3>Resham Lama</h3>
                            <h6>Chairman</h6>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.6s">
                    <div class="speakers-wrapper">
                        <img src="assets/pujan.jpg" class="img-responsive" alt="Pujan Rai">
                        <div class="speakers-thumb">
                            <h3>Pujan Rai</h3>
                            <h6>Managing Director</h6>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.9s">
                    <div class="speakers-wrapper">
                        <img src="assets/anil.jpg" class="img-responsive" alt="Anil Lama">
                        <div class="speakers-thumb">
                            <h3>Anil Lama</h3>
                            <h6>Director</h6>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.9s">
                    <div class="speakers-wrapper">
                        <img src="assets/images/speakers-img3.jpg" class="img-responsive" alt="speakers">
                        <div class="speakers-thumb">
                            <h3>Je Mary Lee</h3>
                            <h6>Web Specialist</h6>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.6s">
                    <div class="speakers-wrapper">
                        <img src="assets/images/speakers-img4.jpg" class="img-responsive" alt="speakers">
                        <div class="speakers-thumb">
                            <h3>Johnathan Doe</h3>
                            <h6>Frontend Dev</h6>
                        </div>
                    </div>
                </div> -->

                <!-- <div class="item wow fadeInUp col-md-3 col-sm-3" data-wow-delay="0.6s">
                    <div class="speakers-wrapper">
                        <img src="assets/images/speakers-img5.jpg" class="img-responsive" alt="speakers">
                        <div class="speakers-thumb">
                            <h3>Elite Hamilton</h3>
                            <h6>Marketing Guru</h6>
                        </div>
                    </div>
                </div> -->

            </div>

        </div>
    </div>
</section>


<!-- =========================
    PROGRAM SECTION   
============================== -->
<section id="program" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="0.6s">
                <div class="section-title">
                    <h2>Our Objectives</h2>
                    <p>Our core objective is to produce highly skilled manpower who can contribute their knowledge and experience which they gained from Japan for the development of Nepal.</p>

                    <p>To achieve our objective, at first, we will select students who have strong desire to get quality education and experience of Japan.  Then we will teach and train them, so that they won’t face difficulties during their main phase of struggle i.e. phase of student life. Beside that our continuous support in Japan will help them to get scholarship and qualified. In Addition, we will also assist those qualified students to enter in renowned companies. These students will develop skill and efficiency from renowned companies of Japan. Finally, we hope in future they will contribute their experience and knowledge for the development of our country.</p>
                
                    <p>Our prophetic planning is the career development of the ambitious students as well as prepare capable human resource for the bright future of Nepal.</p>

                    <p>We hope our small effort can provide aid to uplift Nepal in the name list of developed countries in near future.</p>
                </div>
            </div>
            <div class="col-md-12">
                <h2>Our Services</h2>
            </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3" style="padding: 5px !important">
                        <div class="servicebox">

                            <div class="service-icon">
            
                                <span><i class="fa fa-heart"></i></span>
            
                            </div>
            
                            <h3 class="title">Abroad Study</h3>
            
                        </div>
                    </div>
                    <div class="col-md-3" style="padding: 5px !important">
                        <div class="servicebox">

                            <div class="service-icon">
            
                                <span><i class="fa fa-heart"></i></span>
            
                            </div>
            
                            <h3 class="title">Visa Counseling</h3>
            
                        </div>
                    </div>

                    <div class="col-md-3" style="padding: 5px !important">
                        <div class="servicebox">

                            <div class="service-icon">
            
                                <span><i class="fa fa-heart"></i></span>
            
                            </div>
            
                            <h3 class="title">Career Counseling</h3>
            
                        </div>
                    </div>
                    <div class="col-md-3" style="padding: 5px !important">
                        <div class="servicebox">

                            <div class="service-icon">
            
                                <span><i class="fa fa-heart"></i></span>
            
                            </div>
            
                            <h3 class="title">Emabssy Preparation</h3>
            
                        </div>
                    </div>

                    <div class="col-md-3" style="padding: 5px !important">
                        <div class="servicebox">

                            <div class="service-icon">
            
                                <span><i class="fa fa-heart"></i></span>
            
                            </div>
            
                            <h3 class="title">VFS Appointment</h3>
            
                        </div>
                    </div>

                    <div class="col-md-3" style="padding: 5px !important">
                        <div class="servicebox">

                            <div class="service-icon">
            
                                <span><i class="fa fa-heart"></i></span>
            
                            </div>
            
                            <h3 class="title">Documentation</h3>
            
                        </div>
                    </div>

                    <div class="col-md-3" style="padding: 5px !important">
                        <div class="servicebox">

                            <div class="service-icon">
            
                                <span><i class="fa fa-heart"></i></span>
            
                            </div>
            
                            <h3 class="title">Test Preparation</h3>
            
                        </div>
                    </div>

                    <div class="col-md-3" style="padding: 5px !important">
                        <div class="servicebox">

                            <div class="service-icon">
            
                                <span><i class="fa fa-heart"></i></span>
            
                            </div>
            
                            <h3 class="title">Japanese English Language</h3>
            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <h2>Contact Details</h2>
                <p><strong>Phone no.:</strong>986-9060120</p>
                <p><strong>Email:</strong>info.goodvives@gmail.com</p>
                <p><strong>Location:</strong>chuchhepati-Chabahil, Kathmandu</p>
            </div>

            
        </div>
    </div>
</section>


<!-- =========================
   REGISTER SECTION   
============================== -->
<section id="register" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInUp col-md-7 col-sm-7" data-wow-delay="0.6s">
                <h2>Book your seat</h2>
                <h3>Book your preferred seat directly when booking your seat or later under 'My bookings'. Reserve a seat now. Conditions for advance seat reservations.</h3>
                <p>One journey, many options: book your preferred seat now and take off feeling relaxed.</p>
            </div>

            <div class="wow fadeInUp col-md-5 col-sm-5" data-wow-delay="1s">
                <form action="#" method="post">
                    <input name="firstname" type="text" class="form-control" id="firstname" placeholder="First Name">
                    <input name="lastname" type="text" class="form-control" id="lastname" placeholder="Last Name">
                    <input name="phone" type="telephone" class="form-control" id="phone" placeholder="Phone Number">
                    <input name="email" type="email" class="form-control" id="email" placeholder="Email Address">
                    <div class="col-md-offset-6 col-md-6 col-sm-offset-1 col-sm-10">
                        <input name="submit" type="submit" class="form-control" id="submit" value="REGISTER">
                    </div>
                </form>
            </div>

            <div class="col-md-1"></div>

        </div>
    </div>
</section>


<!-- =========================
    FAQ SECTION   
============================== -->
<section id="faq" class="parallax-section">
    <div class="container">
        <div class="row">

            <!-- Section title
			================================================== -->
            <div class="wow bounceIn col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 text-center">
                <div class="section-title">
                    <h2>Do you have Questions?</h2>
                    <p>If you have any questions? If you have Feel free to ask us.</p>
                </div>
            </div>

            <div class="wow fadeInUp col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10" data-wow-delay="0.9s">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          							 Where is it located?
        						</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>We are located at chuchhepati-Chabahil, Kathmandu Nepal</p>
                                <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.2086321297866!2d85.32924115083763!3d27.741710282693205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb193b9cd510ef%3A0x4ebdfcab003bd043!2sIBA%20International%20Education%20Consultancy!5e0!3m2!1sen!2snp!4v1615188839880!5m2!1sen!2snp"
                                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7063.81923412777!2d85.35079799826352!3d27.720076769091047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19633db6135b%3A0xc051eabacae5ea9d!2sCHUCHEPATI%20BUS%20STOP!5e0!3m2!1sen!2snp!4v1660535598182!5m2!1sen!2snp" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    How Much Will This Cost?
        						</a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>
                                    Good Vibes Education Consultancy will not charge students for its services and advice. Upon request, we are able to provide extra services such as obtaining visas, arranging flight and travel tickets, accommodation in the different countries, at an extra charge. Please
                                    enquire for specific extra services.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Our Guiding Statements
        						</a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p>Providing counselling & learning as well as removing barriers to information for its clients through personal service and innovative practices</p>
                                <p>Always striving towards excellence</p>
                                <p>Developing a high brand equity in all areas of operations</p>
                                <p>Achieving high profitability through ‘customer-delight’</p>
                                <p>Evolving an organisation that achieves and retains a ‘Numero - Uno’ position through learning, hard work, service and honesty.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>


<!-- =========================
    VENUE SECTION   
============================== -->
<!-- <section id="venue" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInLeft col-md-offset-1 col-md-5 col-sm-8" data-wow-delay="0.9s">
                <h2>Venue</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat.</p>
                <h4>New Event</h4>
                <h4>120 Market Street, Suite 110</h4>
                <h4>San Francisco, CA 10110</h4>
                <h4>Tel: 010-020-0120</h4>
            </div>

        </div>
    </div>
</section> -->


<!-- =========================
    SPONSORS SECTION   
============================== -->
<!-- <section id="sponsors" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow bounceIn col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Our Sponsors</h2>
                    <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet.</p>
                </div>
            </div>

            <div class="wow fadeInUp col-md-3 col-sm-6 col-xs-6" data-wow-delay="0.3s">
                <img src="assets/images/sponsor-img1.jpg" class="img-responsive" alt="sponsors">
            </div>

            <div class="wow fadeInUp col-md-3 col-sm-6 col-xs-6" data-wow-delay="0.6s">
                <img src="assets/images/sponsor-img2.jpg" class="img-responsive" alt="sponsors">
            </div>

            <div class="wow fadeInUp col-md-3 col-sm-6 col-xs-6" data-wow-delay="0.9s">
                <img src="assets/images/sponsor-img3.jpg" class="img-responsive" alt="sponsors">
            </div>

            <div class="wow fadeInUp col-md-3 col-sm-6 col-xs-6" data-wow-delay="1s">
                <img src="assets/images/sponsor-img4.jpg" class="img-responsive" alt="sponsors">
            </div>

        </div>
    </div>
</section> -->


<!-- =========================
    CONTACT SECTION   
============================== -->
<section id="contact" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInUp col-md-offset-1 col-md-5 col-sm-6" data-wow-delay="0.6s">
                <div class="contact_des">
                    <h3>Explore your destination</h3>
                    <p>Feel free to distrub us if needed. Whetheryou need to start a new project or get working on your big or small idea. We would be happy to help. </p>
                    <p>OR maybe you just want to discuss about language class, abroad study, whether or anything. We can keep in touch. I'm social introvert.</p>
                </div>
                <h3>Like us on</h3>
                <div class="fb-page" data-href="https://www.facebook.com/profile.php?id=100083652095301" data-tabs="" data-width="450" data-height="200" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false">
                    <blockquote cite="https://www.facebook.com/profile.php?id=100083652095301" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/profile.php?id=100083652095301">Good Vibe Education Consultancy</a></blockquote>
                </div>

            </div>

            <div class="wow fadeInUp col-md-5 col-sm-6" data-wow-delay="0.9s">
                <div class="contact_detail">
                    <div class="section-title">
                        <h2>Keep in touch</h2>
                    </div>
                    <form action="#" method="post">
                        <input name="name" type="text" class="form-control" id="name" placeholder="Name">
                        <input name="email" type="email" class="form-control" id="email" placeholder="Email">
                        <textarea name="message" rows="5" class="form-control" id="message" placeholder="Message"></textarea>
                        <div class="col-md-6 col-sm-10">
                            <input name="submit" type="submit" class="form-control" id="submit" value="SEND">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</section>


<!-- =========================
    FOOTER SECTION   
============================== -->
<footer>
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <p class="wow fadeInUp" data-wow-delay="0.6s">Copyright &copy; 2022 Good Vibes Education Consultancy | Design: <a rel="nofollow" href="https://umeshthapa12.github.io/ewumesh/" target="_parent">Ewumesh</a></p>

                <ul class="social-icon">
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=100083652095301" class="fa fa-facebook wow fadeInUp" data-wow-delay="1s"></a>
                    </li>
                    <!-- <li>
                        <a href="https://www.instagram.com/ibainternational/" class="fa fa-instagram wow fadeInUp" data-wow-delay="1s"></a>
                    </li> -->
                    <!-- <li>
                        <a href="https://twitter.com/Pujanrai9" class="fa fa-twitter wow fadeInUp" data-wow-delay="1.3s"></a>
                    </li> -->
                    <li>
                        <a href="https://goodvibeeducationconsultancy.com.np/" class="fa fa-dribbble wow fadeInUp" data-wow-delay="1.6s"></a>
                    </li>
                </ul>

            </div>

        </div>
    </div>
</footer>


<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>